In [10]:
import pandas as pd
data = pd.read_csv("dataset/stud_testing_final_updated.csv")
data
df = data.copy()
df[:8]

,Drawing,Dancing,Singing,Sports,VideoGame,Acting,Travelling,Gardening,Animals,Photography,...,Engeeniering,Doctor,Pharmisist,Cycling,Knitting,Director,Journalism,Bussiness,ListeningMusic,Courses
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,commerce
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,arts
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,law
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,arts
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,arts
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,business
6,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,business
7,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,arts

In [11]:
df.columns

Index(['Drawing', 'Dancing', 'Singing', 'Sports', 'VideoGame', 'Acting',
       'Travelling', 'Gardening', 'Animals', 'Photography', 'Teaching',
       'Exercise', 'Coding', 'ElectricityComponents', 'MechanicParts',
       'ComputerParts', 'Researching', 'Architecture', 'HistoricCollection',
       'Botany', 'Zoology', 'Physics', 'Accounting', 'Economics', 'Sociology',
       'Geography', 'Psycology', 'History', 'Science', 'BussinessEducation',
       'Chemistry', 'Mathematics', 'Biology', 'Makeup', 'Designing',
       'ContentWriting', 'Crafting', 'Literature', 'Reading', 'Cartooning',
       'Debating', 'Asrtology', 'Hindi', 'French', 'English', 'Urdu',
       'OtherLanguage', 'SolvingPuzzles', 'Gymnastics', 'Yoga', 'Engeeniering',
       'Doctor', 'Pharmisist', 'Cycling', 'Knitting', 'Director', 'Journalism',
       'Bussiness', 'ListeningMusic', 'Courses'],
      dtype='object')

In [12]:
df['Courses'].unique()

array(['commerce', 'arts', 'law', 'business', 'architecture',
       'engineering', 'medicine', 'science'], dtype=object)

In [13]:
# df['Courses'].value_counts()

In [14]:
df.shape

(517, 60)

In [15]:
course_serials = {
    'commerce':0, 
    'arts':1, 
    'law':2, 
    'business':3, 
    'architecture':4,
    'engineering':5, 
    'medicine':6, 
    'science':7
}

df['Courses'] = df['Courses'].map(course_serials)

In [16]:
# course_serials = {
#     'BBA- Bachelor of Business Administration': 0,
#     'BEM- Bachelor of Event Management': 1,
#     'Integrated Law Course- BA + LL.B': 2,
#     'BJMC- Bachelor of Journalism and Mass Communication': 3,
#     'BFD- Bachelor of Fashion Designing': 4,
#     'BBS- Bachelor of Business Studies': 5,
#     'BTTM- Bachelor of Travel and Tourism Management': 6,
#     'BVA- Bachelor of Visual Arts': 7,
#     'BA in History': 8,
#     'B.Arch- Bachelor of Architecture': 9,
#     'BCA- Bachelor of Computer Applications': 10,
#     'B.Sc.- Information Technology': 11,
#     'B.Sc- Nursing': 12,
#     'BPharma- Bachelor of Pharmacy': 13,
#     'BDS- Bachelor of Dental Surgery': 14,
#     'Animation, Graphics and Multimedia': 15,
#     'B.Sc- Applied Geology': 16,
#     'B.Sc.- Physics': 17,
#     'B.Sc. Chemistry': 18,
#     'B.Sc. Mathematics': 19,
#     'B.Tech.-Civil Engineering': 20,
#     'B.Tech.-Computer Science and Engineering': 21,
#     'B.Tech.-Electronics and Communication Engineering': 22,
#     'B.Tech.-Electrical and Electronics Engineering': 23,
#     'B.Tech.-Mechanical Engineering': 24,
#     'B.Com- Bachelor of Commerce': 25,
#     'BA in Economics': 26,
#     'CA- Chartered Accountancy': 27,
#     'CS- Company Secretary': 28,
#     'Diploma in Dramatic Arts': 29,
#     'MBBS': 30,
#     'Civil Services': 31,
#     'BA in English': 32,
#     'BA in Hindi': 33,
#     'B.Ed.': 34
# }


# df['Courses'] = df['Courses'].map(course_serials)

In [17]:
df.head()

,Drawing,Dancing,Singing,Sports,VideoGame,Acting,Travelling,Gardening,Animals,Photography,...,Engeeniering,Doctor,Pharmisist,Cycling,Knitting,Director,Journalism,Bussiness,ListeningMusic,Courses
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [18]:
from imblearn.over_sampling import SMOTE

In [19]:
df['Courses'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7])

In [20]:
df.tail()

,Drawing,Dancing,Singing,Sports,VideoGame,Acting,Travelling,Gardening,Animals,Photography,...,Engeeniering,Doctor,Pharmisist,Cycling,Knitting,Director,Journalism,Bussiness,ListeningMusic,Courses
512,1,0,1,1,1,1,1,0,1,0,...,1,1,1,0,1,0,0,1,1,1
513,1,1,0,1,0,0,0,0,1,1,...,0,0,1,0,1,0,1,0,0,5
514,1,0,1,0,1,0,1,0,1,0,...,1,0,0,1,0,0,1,1,1,1
515,1,0,1,0,1,0,1,0,1,0,...,1,0,0,1,0,0,1,1,1,1
516,1,0,1,0,1,0,1,0,1,0,...,1,0,0,1,0,0,1,1,1,1

In [21]:
smote = SMOTE(random_state = 42)

X = df.drop('Courses', axis=1)
y = df['Courses']

X_resampled, y_resampled = smote.fit_resample(X,y)

In [22]:
# df['Courses'].unique()

In [23]:
X_resampled

,Drawing,Dancing,Singing,Sports,VideoGame,Acting,Travelling,Gardening,Animals,Photography,...,Yoga,Engeeniering,Doctor,Pharmisist,Cycling,Knitting,Director,Journalism,Bussiness,ListeningMusic
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1468,0,0,0,0,0,1,0,0,0,1,...,0,0,1,1,0,0,0,1,0,0
1469,0,0,1,1,0,1,1,0,0,1,...,1,0,0,0,1,0,0,0,1,0
1470,0,1,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,1,0,0,0
1471,1,0,1,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,1,0

In [24]:
y_resampled

0       0
1       1
2       2
3       1
4       1
       ..
1467    7
1468    7
1469    7
1470    7
1471    7
Name: Courses, Length: 1472, dtype: int64

In [25]:
y_resampled.value_counts()

Courses
0    184
1    184
2    184
3    184
4    184
5    184
6    184
7    184
Name: count, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state = 42)

In [27]:
from sklearn.preprocessing import StandardScaler
scaler  =StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

In [29]:
models = {
    "Logistic Regression": LogisticRegression(),
    "Support Vector Classifier" : SVC(),
    "Random Forest Classifier": RandomForestClassifier(),
    "K Nearest Neighbors": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Gaussian Naive Bayes" : GaussianNB(),
    "AdaBoost Classifier" : AdaBoostClassifier(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(),
    "XGBoost Classifier": XGBClassifier(use_label_encoder=False, eval_metric='mlogloss') 
}

In [30]:
for name, model in models.items():
    print("="*50)
    print("\n\nModel = ", name) 

    model.fit(X_train_scaled, y_train)

    y_pred = model.predict(X_test_scaled)

    accuracy = accuracy_score(y_test, y_pred)
    classification_rep = classification_report(y_test, y_pred)

    conf_matrix = confusion_matrix(y_test, y_pred)

    print("Accuracy = ", accuracy)
    print("\nClassification Report :\n", classification_rep)
    print("\nConfusion matrix: \n", conf_matrix)

==================================================


Model =  Logistic Regression
Accuracy =  0.5627118644067797

Classification Report :
               precision    recall  f1-score   support

           0       0.42      0.31      0.36        42
           1       0.33      0.26      0.29        39
           2       0.91      0.91      0.91        32
           3       0.77      0.85      0.81        40
           4       0.72      0.97      0.82        34
           5       0.37      0.30      0.33        43
           6       0.35      0.51      0.42        35
           7       0.62      0.53      0.57        30

    accuracy                           0.56       295
   macro avg       0.56      0.58      0.56       295
weighted avg       0.55      0.56      0.55       295


Confusion matrix:
 [[13  4  1  4  3  6  8  3]
 [ 4 10  1  4  3 10  7  0]
 [ 0  2 29  0  0  0  1  0]
 [ 0  1  0 34  0  2  3  0]
 [ 0  0  0  0 33  0  1  0]
 [ 7  4  1  1  5 13  9  3]
 [ 1  6  0  0  2  4 18  4]
 [ 6  3  0  1  0  0  4 16]]
==================================================


Model =  Support Vector Classifier
Accuracy =  0.8

Classification Report :
               precision    recall  f1-score   support

           0       0.79      0.81      0.80        42
           1       0.45      0.67      0.54        39
           2       1.00      0.97      0.98        32
           3       0.95      0.93      0.94        40
           4       0.97      1.00      0.99        34
           5       0.71      0.58      0.64        43
           6       0.86      0.71      0.78        35
           7       0.96      0.80      0.87        30

    accuracy                           0.80       295
   macro avg       0.84      0.81      0.82       295
weighted avg       0.82      0.80      0.81       295


Confusion matrix:
 [[34  7  0  0  0  0  1  0]
 [ 3 26  0  2  0  8  0  0]
 [ 0  1 31  0  0  0  0  0]
 [ 0  3  0 37  0  0  0  0]
 [ 0  0  0  0 34  0  0  0]
 [ 3 12  0  0  0 25  3  0]
 [ 0  6  0  0  1  2 25  1]
 [ 3  3  0  0  0  0  0 24]]
==================================================


Model =  Random Forest Classifier
Accuracy =  0.8677966101694915

Classification Report :
               precision    recall  f1-score   support

           0       0.83      0.95      0.89        42
           1       0.67      0.46      0.55        39
           2       0.94      1.00      0.97        32
           3       0.98      1.00      0.99        40
           4       0.97      1.00      0.99        34
           5       0.78      0.74      0.76        43
           6       0.89      0.89      0.89        35
           7       0.85      0.97      0.91        30

    accuracy                           0.87       295
   macro avg       0.86      0.88      0.87       295
weighted avg       0.86      0.87      0.86       295


Confusion matrix:
 [[40  1  1  0  0  0  0  0]
 [ 6 18  0  1  0  8  2  4]
 [ 0  0 32  0  0  0  0  0]
 [ 0  0  0 40  0  0  0  0]
 [ 0  0  0  0 34  0  0  0]
 [ 2  6  0  0  0 32  2  1]
 [ 0  2  0  0  1  1 31  0]
 [ 0  0  1  0  0  0  0 29]]
==================================================


Model =  K Nearest Neighbors
Accuracy =  0.8033898305084746

Classification Report :
               precision    recall  f1-score   support

           0       0.75      0.93      0.83        42
           1       0.82      0.23      0.36        39
           2       0.94      1.00      0.97        32
           3       0.74      1.00      0.85        40
           4       0.87      1.00      0.93        34
           5       0.74      0.53      0.62        43
           6       0.78      0.89      0.83        35
           7       0.85      0.97      0.91        30

    accuracy                           0.80       295
   macro avg       0.81      0.82      0.79       295
weighted avg       0.80      0.80      0.77       295


Confusion matrix:
 [[39  0  1  2  0  0  0  0]
 [ 6  9  1  5  3  7  5  3]
 [ 0  0 32  0  0  0  0  0]
 [ 0  0  0 40  0  0  0  0]
 [ 0  0  0  0 34  0  0  0]
 [ 7  1  0  5  1 23  4  2]
 [ 0  1  0  1  1  1 31  0]
 [ 0  0  0  1  0  0  0 29]]
==================================================


Model =  Decision Tree Classifier
Accuracy =  0.6338983050847458

Classification Report :
               precision    recall  f1-score   support

           0       0.60      0.57      0.59        42
           1       0.37      0.28      0.32        39
           2       0.85      0.91      0.88        32
           3       0.75      0.95      0.84        40
           4       0.77      1.00      0.87        34
           5       0.57      0.37      0.45        43
           6       0.51      0.51      0.51        35
           7       0.52      0.57      0.54        30

    accuracy                           0.63       295
   macro avg       0.62      0.65      0.62       295
weighted avg       0.61      0.63      0.62       295


Confusion matrix:
 [[24  3  3  3  1  2  3  3]
 [ 7 11  1  3  2  3  6  6]
 [ 0  1 29  0  1  1  0  0]
 [ 0  1  0 38  0  1  0  0]
 [ 0  0  0  0 34  0  0  0]
 [ 3  6  1  3  2 16  8  4]
 [ 2  5  0  2  2  3 18  3]
 [ 4  3  0  2  2  2  0 17]]
==================================================


Model =  Gaussian Naive Bayes
Accuracy =  0.5050847457627119

Classification Report :
               precision    recall  f1-score   support

           0       0.39      0.29      0.33        42
           1       0.38      0.67      0.48        39
           2       0.58      0.91      0.71        32
           3       0.77      0.57      0.66        40
           4       0.78      0.82      0.80        34
           5       0.31      0.21      0.25        43
           6       0.45      0.37      0.41        35
           7       0.43      0.30      0.35        30

    accuracy                           0.51       295
   macro avg       0.51      0.52      0.50       295
weighted avg       0.50      0.51      0.49       295


Confusion matrix:
 [[12 10  4  3  2  2  7  2]
 [ 2 26  1  2  1  7  0  0]
 [ 0  3 29  0  0  0  0  0]
 [ 2  2  1 23  2  7  0  3]
 [ 0  0  2  0 28  0  3  1]
 [10 11  5  2  1  9  4  1]
 [ 1  8  3  0  2  3 13  5]
 [ 4  9  5  0  0  1  2  9]]
==================================================


Model =  AdaBoost Classifier
Accuracy =  0.3864406779661017

Classification Report :
               precision    recall  f1-score   support

           0       0.14      0.12      0.13        42
           1       0.35      0.33      0.34        39
           2       0.76      0.69      0.72        32
           3       0.60      0.60      0.60        40
           4       0.52      0.38      0.44        34
           5       0.37      0.30      0.33        43
           6       0.25      0.49      0.33        35
           7       0.29      0.23      0.26        30

    accuracy                           0.39       295
   macro avg       0.41      0.39      0.39       295
weighted avg       0.40      0.39      0.39       295


Confusion matrix:
 [[ 5  6  2  6  2  5 11  5]
 [ 6 13  1  4  3  9  3  0]
 [ 0  0 22  0  0  0  9  1]
 [ 5  1  0 24  1  4  2  3]
 [ 5  0  2  0 13  0 13  1]
 [ 7  8  1  0  3 13  9  2]
 [ 3  2  0  2  3  3 17  5]
 [ 6  7  1  4  0  1  4  7]]
==================================================


Model =  Gradient Boosting Classifier
Accuracy =  0.7728813559322034

Classification Report :
               precision    recall  f1-score   support

           0       0.65      0.71      0.68        42
           1       0.53      0.46      0.49        39
           2       0.97      1.00      0.98        32
           3       0.87      0.97      0.92        40
           4       0.92      1.00      0.96        34
           5       0.68      0.60      0.64        43
           6       0.76      0.74      0.75        35
           7       0.82      0.77      0.79        30

    accuracy                           0.77       295
   macro avg       0.78      0.78      0.78       295
weighted avg       0.77      0.77      0.77       295


Confusion matrix:
 [[30  4  1  0  0  2  4  1]
 [ 8 18  0  3  0  8  2  0]
 [ 0  0 32  0  0  0  0  0]
 [ 0  1  0 39  0  0  0  0]
 [ 0  0  0  0 34  0  0  0]
 [ 4  3  0  2  2 26  2  4]
 [ 0  6  0  0  1  2 26  0]
 [ 4  2  0  1  0  0  0 23]]
==================================================


Model =  XGBoost Classifier
Accuracy =  0.8135593220338984

Classification Report :
               precision    recall  f1-score   support

           0       0.76      0.90      0.83        42
           1       0.52      0.38      0.44        39
           2       0.97      0.97      0.97        32
           3       0.88      0.95      0.92        40
           4       0.97      1.00      0.99        34
           5       0.72      0.72      0.72        43
           6       0.87      0.77      0.82        35
           7       0.81      0.87      0.84        30

    accuracy                           0.81       295
   macro avg       0.81      0.82      0.81       295
weighted avg       0.80      0.81      0.81       295


Confusion matrix:
 [[38  1  1  0  0  1  1  0]
 [ 5 15  0  5  0 10  1  3]
 [ 0  1 31  0  0  0  0  0]
 [ 0  2  0 38  0  0  0  0]
 [ 0  0  0  0 34  0  0  0]
 [ 3  4  0  0  0 31  2  3]
 [ 0  6  0  0  1  1 27  0]
 [ 4  0  0  0  0  0  0 26]]

In [31]:
model = RandomForestClassifier()

model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_test_scaled)

print("Accuracy score: ", accuracy_score(y_test, y_pred))
print("Report: ", classification_report(y_test, y_pred))
print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))

Accuracy score:  0.8711864406779661
Report:                precision    recall  f1-score   support

           0       0.81      0.93      0.87        42
           1       0.72      0.59      0.65        39
           2       1.00      1.00      1.00        32
           3       0.95      1.00      0.98        40
           4       1.00      1.00      1.00        34
           5       0.82      0.74      0.78        43
           6       0.86      0.86      0.86        35
           7       0.82      0.90      0.86        30

    accuracy                           0.87       295
   macro avg       0.87      0.88      0.87       295
weighted avg       0.87      0.87      0.87       295

Confusion Matrix:  [[39  3  0  0  0  0  0  0]
 [ 5 23  0  1  0  5  2  3]
 [ 0  0 32  0  0  0  0  0]
 [ 0  0  0 40  0  0  0  0]
 [ 0  0  0  0 34  0  0  0]
 [ 2  3  0  0  0 32  3  3]
 [ 0  3  0  0  0  2 30  0]
 [ 2  0  0  1  0  0  0 27]]

In [32]:
print("Predicted Labels: ", model.predict(X_test_scaled[10].reshape(1, -1))[0])
print("Actual predictions", y_test.iloc[10])

Predicted Labels:  2
Actual predictions 2

In [33]:
print("Predicted Labels: ", model.predict(X_test_scaled[100].reshape(1, -1))[0])
print("Actual predictions", y_test.iloc[100])

Predicted Labels:  6
Actual predictions 5

In [34]:
print("Predicted Labels: ", model.predict(X_test_scaled[120].reshape(1, -1))[0])
print("Actual predictions", y_test.iloc[120])

Predicted Labels:  4
Actual predictions 4

In [35]:
print("Predicted Labels: ", model.predict(X_test_scaled[30].reshape(1, -1))[0])
print("Actual predictions", y_test.iloc[30])

Predicted Labels:  6
Actual predictions 6

In [36]:
import pickle

#writing to the file
pickle.dump(scaler, open("Models/scaler2.pkl", "wb"))
pickle.dump(model, open("Models/model2.pkl", "wb"))

In [37]:
# reading the file
scaler = pickle.load(open("Models/scaler2.pkl", "rb"))
model = pickle.load(open("Models/model2.pkl", "rb"))

In [39]:
import numpy as np

# class_names = ['BBA- Bachelor of Business Administration',
#     'BEM- Bachelor of Event Management',
#     'Integrated Law Course- BA + LL.B',
#     'BJMC- Bachelor of Journalism and Mass Communication',
#     'BFD- Bachelor of Fashion Designing',
#     'BBS- Bachelor of Business Studies',
#     'BTTM- Bachelor of Travel and Tourism Management',
#     'BVA- Bachelor of Visual Arts', 
#     'BA in History',
#     'B.Arch- Bachelor of Architecture',
#     'BCA- Bachelor of Computer Applications',
#     'B.Sc.- Information Technology', 
#     'B.Sc- Nursing',
#     'BPharma- Bachelor of Pharmacy', 
#     'BDS- Bachelor of Dental Surgery',
#     'Animation, Graphics and Multimedia', 
#     'B.Sc- Applied Geology',
#     'B.Sc.- Physics', 
#     'B.Sc. Chemistry',
#     'B.Sc. Mathematics',
#     'B.Tech.-Civil Engineering',
#     'B.Tech.-Computer Science and Engineering',
#     'B.Tech.-Electronics and Communication Engineering',
#     'B.Tech.-Electrical and Electronics Engineering',
#     'B.Tech.-Mechanical Engineering', 
#     'B.Com- Bachelor of Commerce',
#     'BA in Economics', 
#     'CA- Chartered Accountancy',
#     'CS- Company Secretary', 
#     'Diploma in Dramatic Arts', 
#     'MBBS',
#     'Civil Services', 
#     'BA in English', 
#     'BA in Hindi', 
#     'B.Ed.']

class_names = [
    'commerce', 'arts', 'law', 'business', 'architecture', 'engineering', 'medicine', 'science']


def Recommendations(Drawing, Dancing, Singing, Sports, VideoGame, Acting, Travelling, Gardening, Animals, 
                    Photography, Teaching, Exercise, Coding, ElectricityComponents, MechanicParts, 
                    ComputerParts, Researching, Architecture, HistoricCollection, Botany, Zoology, Physics, Accounting, 
                    Economics, Sociology, Geography, Psycology, History, Science, BussinessEducation, Chemistry, Mathematics, 
                    Biology, Makeup, Designing, ContentWriting, Crafting, Literature, Reading, Cartooning, Debating, Asrtology, 
                    Hindi, French, English, Urdu, OtherLanguage, SolvingPuzzles, Gymnastics, Yoga, Engeeniering, Doctor, 
                    Pharmisist, Cycling, Knitting, Director, Journalism, Bussiness, ListeningMusic):

    # Create feature array
    feature_array = np.array([[Drawing, Dancing, Singing, Sports, VideoGame, Acting, Travelling, Gardening, Animals, 
                               Photography, Teaching, Exercise, Coding, ElectricityComponents, MechanicParts, 
                               ComputerParts, Researching, Architecture, HistoricCollection, Botany, Zoology, 
                               Physics, Accounting, Economics, Sociology, Geography, Psycology, History, Science, 
                               BussinessEducation, Chemistry, Mathematics, Biology, Makeup, Designing, ContentWriting, 
                               Crafting, Literature, Reading, Cartooning, Debating, Asrtology, Hindi, French, English, 
                               Urdu, OtherLanguage, SolvingPuzzles, Gymnastics, Yoga, Engeeniering, Doctor, Pharmisist, 
                               Cycling, Knitting, Director, Journalism, Bussiness, ListeningMusic]])

    # Scale features
    scaled_features = scaler.transform(feature_array)

    # Predict using the model
    probabilities = model.predict_proba(scaled_features)

    # Get top five predicted classes along with their probabilities 
    top_classes_idx = np.argsort(-probabilities[0])[:5]   

    top_classes_name_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]

    return top_classes_name_probs

In [40]:
final_recommendations = Recommendations(
    Drawing=1,
    Dancing=0,
    Singing=1,
    Sports=0,
    VideoGame=1,
    Acting=0,
    Travelling=1,
    Gardening=0,
    Animals=1,
    Photography=0,
    Teaching=1,
    Exercise=0,
    Coding=1,
    ElectricityComponents=0,
    MechanicParts=0,
    ComputerParts=1,
    Researching=1,
    Architecture=0,
    HistoricCollection=0,
    Botany=0,
    Zoology=0,
    Physics=1,
    Accounting=0,
    Economics=1,
    Sociology=0,
    Geography=0,
    Psycology=1,
    History=0,
    Science=1,
    BussinessEducation=0,
    Chemistry=1,
    Mathematics=1,
    Biology=0,
    Makeup=0,
    Designing=1,
    ContentWriting=0,
    Crafting=0,
    Literature=1,
    Reading=1,
    Cartooning=0,
    Debating=1,
    Asrtology=0,
    Hindi=0,
    French=0,
    English=1,
    Urdu=0,
    OtherLanguage=0,
    SolvingPuzzles=1,
    Gymnastics=0,
    Yoga=1,
    Engeeniering=1,
    Doctor=0,
    Pharmisist=0,
    Cycling=1,
    Knitting=0,
    Director=0,
    Journalism=1,
    Bussiness=1,
    ListeningMusic=1
)

print("Top recommended studies with probabilities : ")
print("=="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities :
====================================================================================================
arts with probability 0.96
engineering with probability 0.03
medicine with probability 0.01
commerce with probability 0.0
business with probability 0.0

In [43]:
input_data = {
    'Drawing': 1,
    'Dancing': 0,
    'Singing': 1,
    'Sports': 0,
    'VideoGame': 1,
    'Acting': 0,
    'Travelling': 1,
    'Gardening': 0,
    'Animals': 1,
    'Photography': 0,
    'Teaching': 1,
    'Exercise': 0,
    'Coding': 1,
    'ElectricityComponents': 0,
    'MechanicParts': 0,
    'ComputerParts': 1,
    'Researching': 1,
    'Architecture': 0,
    'HistoricCollection': 0,
    'Botany': 0,
    'Zoology': 0,
    'Physics': 1,
    'Accounting': 0,
    'Economics': 1,
    'Sociology': 0,
    'Geography': 0,
    'Psycology': 1,
    'History': 0,
    'Science': 1,
    'BussinessEducation': 0,
    'Chemistry': 1,
    'Mathematics': 1,
    'Biology': 0,
    'Makeup': 0,
    'Designing': 1,
    'ContentWriting': 0,
    'Crafting': 0,
    'Literature': 1,
    'Reading': 1,
    'Cartooning': 0,
    'Debating': 1,
    'Asrtology': 0,
    'Hindi': 0,
    'French': 0,
    'English': 1,
    'Urdu': 0,
    'OtherLanguage': 0,
    'SolvingPuzzles': 1,
    'Gymnastics': 0,
    'Yoga': 1,
    'Engeeniering': 1,
    'Doctor': 0,
    'Pharmisist': 0,
    'Cycling': 1,
    'Knitting': 0,
    'Director': 0,
    'Journalism': 1,
    'Bussiness': 1,
    'ListeningMusic': 1
}

# Get recommendation from your model
final_recommendations = Recommendations(**input_data)


top_course = final_recommendations[0][0]  # course name
input_data['Courses'] = top_course


# Convert to a DataFrame
df = pd.DataFrame([input_data])

# Save to CSV (append if exists, or create new)
csv_path = 'dataset/stud_testing_final_updated.csv'
try:
    existing_df = pd.read_csv(csv_path)
    updated_df = pd.concat([existing_df, df], ignore_index=True)
except FileNotFoundError:
    print("File not found, creating new")
    updated_df = df

# Save back to CSV
updated_df.to_csv(csv_path, index=False)

print("Prediction saved successfully!")

Prediction saved successfully!